@import "tailwindcss";
html,body,#root{
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}

@custom-variant dark (&:where(.dark, .dark *));


html{
  --color-sidebar:#ffffff;
  --color-text-primary:#000000;
  --color-input-box:#ffffff;
  --color-primary:#000000;
  --color-primary-rgb: 0, 0, 0;
  --color-secondary:#f0f0f0;
  --color-code-background: #f5f5f5;
  --color-toolbar: #767676;
  --color-hoverbg: #e5e5e5;
  --color-blockquote-background: #f5f5f5;
  --color-user-message-background: #f0f0f0;
  --color-chat-background: #ffffff;
}

html.dark {
  --color-sidebar: #000000;
  --color-text-primary: #ffffff;
  --color-input-box: #1a1a1a;
  --color-primary: #ffffff;
  --color-primary-rgb: 255, 255, 255;
  --color-secondary: #1a1a1a;
  --color-code-background: #121212;
  --color-toolbar: #a0a0a0;
  --color-hoverbg: #2a2a2a;
  --color-blockquote-background: #1a1a1a;
  --color-user-message-background: #1a1a1a;
  --color-chat-background: #000000;
}



@theme {
  --color-sidebar:--color-sidebar;
  --color-text-primary:--color-text-primary;
  --color-input-box: --color-input-box;
  --color-primary:--color-primary;
  --color-secondary:--color-secondary;
  --color-code-background: --color-code-background;
  --color-toolbar: --color-toolbar;
  --color-hoverbg: --color-hoverbg;
  --color-blockquote-background: --color-blockquote-background;
  --color-user-message-background: --color-user-message-background;
  --color-chat-background: --color-chat-background;
  --animate-slideLight:slideLight 3s infinite;
  @keyframes slideLight {
    0% {
        left: -100%;
    }
    100% {
        left: 100%; 
    }
  }
}

::selection {
  background-color: #b092f5;
}

::-moz-selection {
  background-color: #b092f5;
}

html.dark ::selection {
  background-color: #4f2673;
}

html.dark ::-moz-selection {
  background-color: #4f2673;
}
